@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: url("images/hero-bg.jpg") center/cover no-repeat;
    font-family: 'inter', sans-serif;
}

header {
    position: fixed;
    max-width: 1200px;
    width: 100%;
    z-index: 10;
    padding: 0px 10px;
}

/* Nav Bar */
.navbar {
    display: flex;
    transition: top 0.3s;
    background-color: white;
    padding: 0px 0;
    align-items: center;
    max-width: 1200px;
    margin: -16px;
    justify-content: space-between;
}

.navbar .hamburger-btn {
    display: none;
    color: #000000;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar .logo {
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .links {
    display: flex;
    gap: 35px;
    padding-top: 5px;
    list-style: none;
    align-items: center;
}

.navbar .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    color: #000;
    cursor: pointer;
}

.navbar .links a {
    color: #000000;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.1s ease;
    font-family: 'Inter',sans-serif;
}

.navbar .links a:hover {
    color: #ffffff;
    background-color: #1652F0;
    padding: 15px;
    border-radius: 10%;
}

.navbar .login-btn {

    color: #1652F0;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.1s ease;
}

.navbar .login-btn:hover {
    color: #ffffff;
    background-color: #1652F0;
    padding: 15px;
    border-radius: 5%;
}

.logo-box {
    width: 100px;
    /* Lebar kotak logo */
    height: 100px;
    /* Tinggi kotak logo */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* Mengatur sudut kotak */
}

.logo {
    max-width: 150%;
    max-height: 100%;
}

@media (max-width: 950px) {
    .navbar :is(.hamburger-btn, .close-btn) {
        display: block;
    }

    .navbar {
        padding: 15px 0;
    }

    .navbar .logo img {
        display: none;
    }

    .navbar .logo h2 {
        font-size: 1.4rem;
    }

    .navbar .links {
        position: fixed;
        top: 0;
        z-index: 10;
        left: -100%;
        display: block;
        height: 100vh;
        width: 100%;
        padding-top: 60px;
        text-align: center;
        background: #fff;
        transition: 0.2s ease;
    }

    .navbar .links.show-menu {
        left: 0;
    }

    .navbar .links a {
        display: inline-flex;
        margin: 20px 0;
        font-size: 1.2rem;
        color: #000;
    }

    .navbar .links a:hover {
        color: #00BCD4;
    }

    .navbar .login-btn {
        font-size: 0.9rem;
        padding: 7px 10px;
    }
}

@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}

/*rawr hero section pertama*/
.hero {
    height: 70%;
    width: 100%;
    min-height: 110vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

/* Review */
.container {
    max-width: 1000px;
    margin: auto;
    padding: 0 15px;
}

/* section header*/
.section-header {
    text-align: center;
    margin-bottom: 50px;
}

.section-header .title {
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: hsl(0, 0%, 0%);
    line-height: 1.2;
}

.p-title {
    font-weight: 700;
}

/* testimonials*/
.testimonials {
    padding: 0px 0;
}

.testimonials-item {
    padding: 30px;
    border-radius: 20px;
}

.testimonials-item .info {
    display: flex;
    align-items: flex-end;
}

.testimonials-item img {
    width: 57px;
    /* Lebar maksimum gambar */
    height: 57px;
    /* Tinggi maksimum gambar (opsional, sesuaikan jika diperlukan) */
    border-radius: 50%;
    /* Membuat gambar bulat */
    margin-right: 20px;
    vertical-align: middle;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
}

.testimonials-item .name {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    line-height: 1.2;
}

.testimonials-item .job {
    text-transform: capitalize;
    color: hsl(0, 0%, 40%);
}

.testimonials-item p {
    margin-top: 20px;
    color: hsl(0, 0%, 40%);
}

.testimonials-item .rating {
    margin-top: 0px;
    font-size: 14px;
    color: hsl(36, 88%, 66%);
    position: relative;
    left: 300px;
    top: 25px;
}

.review-text {
    flex: 1;
    padding-left: 10px;
    /* Sesuaikan jarak antara Rating dan Sangat Bagus */
}

.review-text h3 {
    font-weight: 700;
    margin-top: 1px;
    position: relative;
}


.testimonials .swiper-pagination {
    position: relative;
    margin-top: 40px;
    bottom: auto;
}

.testimonials .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background-color: #1652F0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/*Tulisan Wow*/
.red-wow {
    color: #F02724;
    font-weight: 800;
    font-family: 'Inter' , sans-serif ;
    /* Warna merah untuk kata "WOW" */
}

.blue-avadensi {
    color: #1652F0;
    font-weight: 800;
    /* Warna merah untuk kata "Avadensi" */
}

/*mulai button*/
.mulai {
    background-color: #1652F0;
    /* Warna latar belakang tombol */
    color: white;
    /* Warna teks pada tombol */
    padding: 10px 30px;
    /* Ruang di sekitar teks dalam tombol */
    border: none;
    /* Hapus border tombol */
    border-radius: 20px;
    /* Sudut tombol yang lebih bulat */
    cursor: pointer;
    /* Ubah kursor mouse menjadi tanda panah saat di atas tombol */
    font-size: 16px;
    /* Ukuran teks pada tombol */
    position: relative;
    /* Atur posisi tombol */
    left: 0%;
    /* Geser tombol ke kiri sejauh 15% dari lebar kontainer parent */
    margin-top: 20px;
    /* Tambahkan margin atas sesuai kebutuhan Anda */
}

/* Change button color on hover */

/* rawr main title*/
.brand-promo {
    font-family: 'Inter', sans-serif;
    margin: auto;
    position: relative;
    left: 200px;
    padding: 0 15px;
}

.brand-promo h1 {
    font-weight: 710;
    color: #1652F0;
    font-size: xx-large;
}


@media (max-width: 1400px) {

    /* Adjust text styles for smaller screens */

    .brand-promo {
        left: 100px;
        top: -60px;
    }

    .brand-promo h1 {
        font-size: 50px;
    }
}

@media (max-width: 500px) {
    .brand-promo {
        left: 50px;
    }

    .brand-promo h1 {
        font-size: 50px;
    }
}

.brand-promo .red-wow {
    color: #F02724;
    font-weight: 710;
    /* Red color for "WOW" */
}

.brand-promo p {
    margin-top: 20px;
    color: hsl(0, 0%, 0%);
    font-weight: 370;
    font-family: 'Inter', sans-serif;
}

/* pricing */
.sectionp {
    width: 100%;
    height: 120vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 120px 120;
}

.titleP {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.ptitleP {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin-bottom: 50px;
}

.card {
    position: relative;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5%;
    -webkit-transition: .5s;
    transition: .5s;
}

.card:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.card::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    -webkit-transform: skewY(-5deg) scale(1.5);
    transform: skewY(-5deg) scale(1.5);
}

.title .fa {
    color: #fff;
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);

}

.title h2 {
    position: relative;
    margin: 20px 0 0;
    padding: 0;
    color: #fff;
    font-size: 28px;
    z-index: 2;
}

.price,
.option {
    position: relative;
    z-index: 2;
}

.price h4 {
    margin: 0;
    padding: 20px 0;
    color: #fff;
    font-size: 60px;
}

.option ul {
    margin: 0;
    padding: 0;

}

.option ul li {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 16px;
}

.card a {
    position: relative;
    z-index: 2;
    background: #fff;
    color: black;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    display: block;
    text-align: center;
    margin: 20px auto 0;
    font-size: 16px;
    cursor: pointer;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}

.card a:hover {
    text-decoration: none;
}

.text-box {
    position: relative;
    top: 0%;
    left: 165 px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.text-boxi {
    position: relative;
    padding: 150px 200px;
    /* Menambahkan padding pada sisi kiri dan kanan untuk meletakkan teks dan tombol */
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: left;
    /* Mengatur teks ke kiri */
}

.video-brightness {
    filter: brightness(80%);
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.wow-text {
    font-family: 'Inter', sans-serif;
    max-width: 1000px;
    position: relative;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 700;
    color: #2f2f2f ;
}

.wow-text2 {
    font-family: 'Inter', sans-serif;
    max-width: 1000px;
    position: relative;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 700;
    color: #2f2f2f ;
    margin-bottom: 10px;
}
.wow-text-undergo {
    font-family: 'Inter', sans-serif;
    max-width: 1000px;
    position: relative;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-weight: 500;
    color: #2f2f2f ;
    margin-bottom: 30px;
}

.management-text {
    font-size: 16px;
    color: #ff0000;
    position: relative;
    right: 10px;
}

.management-button {
    margin-top: 10px;
}

.management-button button {
    background-color: transparent;
    border: none;
    font-weight: 700;
    color: #2f2f2f ;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Kode tambahan untuk pengaturan warna latar belakang */
#socialButton.active-button~.text-box {
    background-color: #ffcccb;
    /* Ganti warna latar belakang menjadi merah muda saat tombol "Social Media Management" diklik */
}

#videoButton.active-button~.text-box {
    background-color: #cbffcc;
    /* Ganti warna latar belakang menjadi hijau muda saat tombol "Video Production" diklik */
}

#websiteButton.active-button~.text-box {
    background-color: #cccfff;
    /* Ganti warna latar belakang menjadi biru muda saat tombol "Website" diklik */
}

/* footer */
.footer {
    background: linear-gradient(-45deg, #2ac9e6, #1652F0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 250px;
    /* Tinggi elemen dasar */
    width: 100%;
    position: relative;
}

.footer::after {
    content: "";
    background: linear-gradient(-45deg, #F02724, #1652F0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100px;
    /* Tinggi elemen latar belakang tambahan */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.rounded-button {
    text-align: justify;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: #1652f0;
    border: none;
    border-radius: 30px;
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    /* Mengatur sudut tombol untuk membuatnya menjadi tabung */
    cursor: pointer;
}

.rounded-button:hover {
    background-color: none;
}


.h1ft {
    font-family: 'Inter', sans-serif;
    text-align: center;
    /* Mengatur teks ke tengah */
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 700;
    width: 100%;
    display: inline-block;
    position: relative;
    /* Mengatur posisi elemen menjadi relatif */
    margin-top: 40px;
    /* Menggeser elemen ke bawah sebesar 20 piksel */
}